.left-page {
  background: url(../../images/leftpage-desk.png);
  background-size: cover;
  height: 100vh;
  width: 100%;

  @include media(">=1280px") {
    height: auto;
    min-width: 250px;
    max-width: 840px;
  }
}

.header-intro {
  padding: 0 20px;
  max-width: 415px;
  height: 105px;
  display: flex;
  align-items: center;

  @include media(">=1280px") {
    padding: 69px 0px 0 60px;
    max-width: 475px;
  }

  img {
    width: 100%;
    display: block;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -500px;
  opacity: 0;
  width: 100%;
}

.navigation {
  position: relative;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;

  @include media(">=1280px") {
    display: none;
  }

  & label {
    width: 54px;
    height: 28px;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    cursor: pointer;
    z-index: 10;
  }

  & label::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 4px;
    width: 46px;
    height: 3px;
    background: #ef4a00;
    z-index: 10;
  }

  & label::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 4px;
    width: 46px;
    height: 3.5px;
    background: #ef4a00;
    z-index: 10;
  }

  & input[type="checkbox"] {
    display: none;
  }

  & input[type="checkbox"] ~ .nav-list {
    transition: all 1s ease-in-out;
    opacity: 0;
    height: 50px;
  }

  & input[type="checkbox"]:checked ~ .nav-list {
    position: absolute;
    top: 0;
    left: 50%;
    height: calc(100vh - 105px);
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 16%,
      rgba(246, 246, 248, 0.89) 24%,
      rgba(194, 199, 209, 0.89) 68%
    );
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // overflow: hidden;
    z-index: 5;
  }

  & input[type="checkbox"] + label:before {
    transition: all 0.3s linear;
  }

  & input[type="checkbox"] + label::after {
    transition: all 0.3s linear;
  }

  & input[type="checkbox"]:checked + label:before {
    transform: rotate(-45deg);
    top: 16px;
  }

  & input[type="checkbox"]:checked + label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }
}

.scroll-down {
  background: url(../../images/scroll-down.png);
  width: 45px;
  height: 25px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  @include media(">=1280px") {
    display: none;
  }
}
